.header
	+box
	display: flex
	flex-direction: column
	min-width: 320px
	height: 100vh
	min-height: 800px
	overflow: hidden
	padding: 20px 80px 100px
	color: #FFFFFF
	background:
		color: #6e7881
		image: inline("bkg.jpg")
		repeat: no-repeat
		position: center
		size: cover
	+retina
		background:
			image: inline("bkg@2x.jpg")
	&__container
		@extend .animated
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		max-width: 1120px
		margin: 0 auto
		&:nth-of-type(2)
			flex-grow: 0.8
		&:last-of-type
			flex-grow: 1
	&__select
		margin-left: 20px
	&__rate
		._desk &
			&:not(:last-child)
				margin-right: 40px
	&__link
		@extend .animated
		margin-right: 25px
		text-decoration: none
		&:hover
			._desktop &
				color: $accent
	&__burger
		display: none
	&__content
		position: relative
	&__title
		max-width: 780px
	&__description
		position: absolute
		bottom: 65px
		right: 10px
		font-size: 16px
	& .slider-title
		&:not(:last-child)
			margin-right: 25px
	&__slider
		width: 100%
	+max-screen($breakpoint-md)
		justify-content: space-between
		min-height: 900px
		padding: 30px 30px 75px
		&__container
			&:nth-of-type(2)
				align-items: flex-start
		&__content
			margin: auto
		&__title
			max-width: 66%
			margin-left: -6px
		&__description
			position: static
			margin-bottom: 15px
	& .slider-title
		&:not(:last-child)
			margin-right: 20px
	+max-screen($breakpoint-sm)
		padding: 25px 20px 45px
		&__select
			display: none
		&__link
			&._sign
				display: none
		&__burger
			display: block
			margin-left: 20px
		&__description
			margin-top: 25px
		&__slider
			margin-top: 35px
			margin-left: -20px
			padding: 0 20px
			border-top: 1px solid rgba(#FFF, 0.2)

.container-block
	display: flex
	flex: 0 0 auto
	align-items: center

.logo
	width: 150px
	+max-screen($breakpoint-md)
		width: 120px

.contact-us
	font-size: 15px
	svg
		width: 11px
		height: 11px
		margin-right: 4px
	&__link
		@extend .animated
		font-size: 16px
		&:hover,
		&:active,
		&:focus
			color: $accent
			text-decoration: underline
	+max-screen($breakpoint-sm)
		font-size: 8px
		svg
			width: 6px
			height: 6px
		&__link
			font-size: 9px

.slider-top
	+box
	position: relative
	display: flex
	overflow: hidden
	max-width: 1120px
	padding: 0 20px 20px 35px
	margin-bottom: 30px
	border-bottom: 1px solid rgba(#FFF, 0.2)
	+max-screen($breakpoint-md)
		max-width: 100vw
		margin: 0 -30px
		padding: 0 40px 15px
	+max-screen($breakpoint-sm)
		display: none

.slide
	+box
	max-width: 1120px
	padding: 0 35px
	&__content
		display: flex
	&__name
		flex: 0 0 auto
		max-width: 190px
		width: 18%
		margin-right: 30px
		font-size: 14px
		font-weight: 400
		color: $accent
		white-space: nowrap
	&__title
		flex: 1 0 auto
		max-width: 335px
		width: 32%
		margin-right: 30px
		font-size: 24px
		line-height: 1.333
		font-weight: 400
	&__text
		font-size: 16px
		line-height: 1.7
	+max-screen($breakpoint-md)
		max-width: 80vw
		padding: 30px 0
		&__content
			flex-direction: column
		&__name,
		&__title,
		&__text
			width: 100%
			max-width: none
		&__name
			margin-bottom: 25px
		&__title
			margin-bottom: 15px
	+max-screen($breakpoint-sm)
		max-width: 90vw
		padding: 25px 0
		&__name
			margin-bottom: 20px

.slider-arrows
	display: flex
	align-items: center
	flex: 0 0 auto
	max-width: 190px
	width: 18%
	margin-right: 30px
	+max-screen($breakpoint-md)
		width: auto
		margin-right: 15px

.slider-titles
	//position: absolute
	//left: 0
	display: flex
	justify-content: space-between
	flex: 1 0 auto
	font-size: 14px
	transition: left 0.3s
	&__container
		position: relative
		overflow: hidden
		flex-grow: 1


.slider-title
	@extend .animated
	@extend .no-select
	position: relative
	cursor: pointer
	white-space: nowrap
	&:after
		@extend .animated
		content: ''
		position: relative
		bottom: -8px
		display: block
		width: 0
		height: 1px
		background-color: $accent
	&:hover
		._desktop &
			color: rgba(#fff, 0.4)
	&._active
		@extend .no-pe
		&:after
			width: 100%

.rates
	&._mobile
		display: none
		position: absolute
		top: 35px
		left: 265px
		flex-direction: column
		align-items: flex-start
	+max-screen($breakpoint-md)
		&._desk
			display: none
		&._mobile
			display: flex
	+max-screen($breakpoint-sm)
		&._mobile
			position: static
			margin-top: 30px

.burger
	position: relative
	width: 24px
	height: 20px
	background: none
	border: none
	&__line
		position: absolute
		top: 0
		width: 100%
		height: 2px
		background-color: #FFFFFF
		&:before,
		&:after
			content: ''
			position: absolute
			display: block
			width: 100%
			height: 2px
			background-color: #FFFFFF
		&:before
			top: 9px
		&:after
			top: 18px
