.want
	padding: 0 80px
	margin-bottom: 95px
	+max-screen($breakpoint-md)
		padding: 0 40px
	+max-screen($breakpoint-sm)
		padding: 0 20px
		margin-bottom: 85px

.want-container
	display: flex
	flex-wrap: nowrap
	+max-screen($breakpoint-sm)
		flex-direction: column

.want-block
	@extend .animated
	+box
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	width: 50%
	height: 400px
	padding: 60px 60px 40px
	text-align: center
	cursor: pointer
	&:first-child
		background-image: linear-gradient(130deg, #f9f9f9, #dee4e7)
	&:last-child
		background-image: linear-gradient(244deg, #fcfcfc, #f8f8f8)
	&:after
		@extend .animated
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		opacity: 0
		background-image: linear-gradient(to right top, $accent, #FFAA33)
		z-index: 0
	&:hover
		._desktop &
			&:after
				opacity: 1
			& .want-block__title ._accent,
			& .want-block__btn,
			& .want-block__text,
			& .want-block__icon svg
				color: #fff
				fill: #fff
			& .want-block__btn
				text-decoration: underline
	& *
		z-index: 1
	&__icon
		width: 31px
		height: 36px
		margin: 0 auto
		& svg
			width: 100%
			height: 100%
			fill: $accent
	&__title
		margin-bottom: 15px
		color: $gray
	&__text
		max-width: 265px
		margin: 0 auto
		color: $light-gray
	&__btn
		margin-top: 20px
		transition: none
	+max-screen($breakpoint-md)
		padding: 35px 40px
		&__icon
			margin-bottom: 20px
	+max-screen($breakpoint-sm)
		width: 100%
		height: 275px
		padding: 20px
		text-align: left
		&__icon
			margin: 0 0 10px
		&__text
			width: 90%
			max-width: none
			margin: 0
		&__btn
			padding: 0
			margin-top: 15px
			text-align: left